@import url('https://fonts.googleapis.com/css2?family=poppins:wght@300;400;500;600;700;800;900&display=swap');
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}

:root {
    --bg-color:#ffffff;
    --second-bg-color:#FFFBEB;
    --text-color:#ffffff;
    --main2-color:#eca871;
    --main-color:#e26d0c;
}

html {
    font-size: 62.5%;
    overflow: hidden;
    font-family: 'Poppins',sans-serif;

}

body {
    background: var(--bg-color);
    color: var(--text-color)

}

/*navbar*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;

}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

/*logo */
.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
}




#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

a {
    text-decoration: none;
    color: black;
  }
